.info-detail {
  padding: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.5rem;

  &__item {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    background-color: var(--bg-color-2);
    border-radius: 1rem;
  }
  &__title {
    opacity: 0.5;
    font-size: 0.75rem;
  }
}
