.header {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: var(--bg-color-5);
  backdrop-filter: blur(1rem);
  transition: background-color 0.4s ease;

  &__btn {
    width: 3rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    background-color: transparent;
    color: inherit;
    border: none;
    outline: none;
  }
  &__wrapper-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.25rem;
  }
  &__title {
    font-size: 1.5rem;
    font-weight: bold;
  }
  &__subtitle {
    font-size: 0.75rem;
    opacity: 0.5;
  }
}
